<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="port" value="1234" />
    <add key="tokenServerUrl" value="https://madeformed-drc-token.juxta.cloud" />
    <add key="updateServerUrl" value="https://madeformed-drc-upd.juxta.cloud" />
    <add key="logs" value="True" />
    <add key="httpsMode" value="true" />
    <add key="certificatePath" value="./localhost.pfx" />
    <add key="certificatPwd" value="juxta" />
    <add key="broadcast" value="False" />
    <add key="autoRestart" value="False" />
    <add key="timerRestart" value="10" />
    <add key="timerSurveillance" value="30" />
    <add key="activerSurveillance" value="false" />
    <add key="plageDePorts" value="1230-1240" />
    <add key="activeUpd" value="true" />
    <add key="intervalleEnSecUpd" value="3600" />
    <add key="heureDExecutionUpd" value="" />
    <add key="autoMajPlugins" value="true" />
    <add key="formatDeSortie" value="" />
    <add key="messageAccueil" value="False" />
    <add key="modeTSE" value="False" />
  </appSettings>
</configuration>
